option_settings:
  ScheduledWeekendScaleDown.aws:autoscaling:scheduledaction:
    MinSize: '0'
    MaxSize: '0'
    DesiredCapacity: '0'
    Recurrence: 0 15 * * 5

  ScheduledPeriodicScaleUpWeekDay.aws:autoscaling:scheduledaction:
    MinSize: '1'
    MaxSize: '1'
    DesiredCapacity: '1'
    Recurrence: 0 6 * * 1-5

  ScheduledPeriodicScaleDownWeekDay.aws:autoscaling:scheduledaction:
    MinSize: '0'
    MaxSize: '0'
    DesiredCapacity: '0'
    Recurrence: 0 17 * * 1-5